    * {
        margin: 0px;
        padding: 0px;
    }
    
    a {
        text-decoration: none;
    }
    
    .wrapper {
        height: 100%;
        min-height: 600px;
        min-width: 768px;
    }
    
    .wrapperskin {
        position: fixed;
        width: 100%;
        z-index: -1;
    }
    .wrapperskin img {
        width: 100%;
    }
    
    .top-search-block {
        border: 1px black solid;
        width: 100%;
        height: 100px;
        position: fixed;
    }
    
    #header {
        background-image: linear-gradient(rgba(15,25,50,.3) 0,rgba(15,25,50,.3) 100%);
    }
    
    .weather {
            top: 0;
    left: 0;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    }
    /*  天气栏内部三个块元素*/
    
    .head-inform,
    .weathercolumn,
    .weather div {
        display: inline-block;
        margin-right: 6px;
    }
    /*天气logo*/
    .weather div {
        font-size: 13px;
    }
    .weather div a {
        text-decoration: underline;
    }
    .weatherlogo {
        color: #b7babe;
        position: relative;
        top: -1px;
        width: auto;
        margin-left: -1px;
    }
    /*温度数字*/
    
    .weathernum {
        font-size: 20px;
        color: #8c8c8c;
        padding-left: 2px;
    }
    
    .weatherstatus p {
        height: 13px;
        line-height: 13px;
        font-size: 11px;
        color: #999;
    }
    
    .cloth-column {
        width: 100%;
        height: 300px;
        position: fixed;
        z-index: 3;
        top: 0;
        background: #fff;
    }
    .cloth-column div{
        display: inline-block;
    }
    .cloth-column .cloth-column-head,.cloth-column-bg {
        width: 50%;
        margin: 0 auto;
    }
    .cloth-column .cloth-column-head a {
        display: inline-block;
        width: 55px;
        height: 36px;
        line-height: 36px;
        padding: 2px;
        font-size: 12px;
        margin-right: 1px;
    }
    .cloth-column .cloth-column-head a:hover {
        background: #71ddff;
    }
    .cloth-column .cloth-column-closespan {
        float: right;
        color: #0079f5;
    }
    .cloth-column .cloth-column-closespan .up-icon{
        margin-right: 2px;
        background: url('img/skin-icon.png') no-repeat -44px -173px;
        width: 11px;
        height: 15px;
        display: inline-block;
    }
    .cloth-column-bg {
        width: 911px;
        height: 205px;
        margin: 25px 25%;
    }
    .cloth-column-bg .cloth-library {
        width: 590px;
        height: 190px;
        float: left;
    }
    .cloth-column-bg .cloth-library img{
        width: 97px;
        height: 59px;
        display: block;
        float: left;
        margin-right: 1px;
        margin-bottom: 1px;
    }
    .cloth-column-bg .cloth-library .big {
        width: 195px;
        height: 119px;
    }
    .cloth-column-bg .cloth-library .last {
        position: relative;
        top: -60px;
    }
    .cloth-column-bg .cloth-preview{
        float: right;
        width: 294px;
        position: relative;
    }
    .cloth-column-bg .cloth-preview .skin-content{
            position: absolute;
    top: 15px;
    left: 32px;
    width: 260px;
    height: 163px;
    overflow: hidden;
    }
    .cloth-column-bg .cloth-preview .preview-bg{
        position: absolute;
    top: 0;
    right: 0;
    width: 264px;
    height: 180px;
    background: url('img/skin-preview.png') no-repeat 0px 0px;
    }
    .cloth-column-bg .preview-title {
            float: right;
    margin-right: 0;
    margin-top: 7px;
    text-align: center;
    width: 262px;
    font-size: 12px;
    color: #666;
    }




    .head-inform .user-set {
        background: #fff;
        position: absolute;
        width: 72px;
        font-size: 12px;
        margin-top: 25px;
    }
    
    .head-inform .user-set a {
        display: inline-block;
        float: left;
        padding: 6px;
        text-align: center;
        width: 62px;
        font-weight: 100;
    }
    
    .head-inform .user-set span {
        display: block;
        width: 0px;
        border-left: 5px solid transparent;
        border-bottom: 10px #fff solid;
        border-right: 5px solid transparent;
        margin-left: 35px;
        margin-top: -10px;
    }
    
    .head-inform #username-menu {
        display: none;
        margin-left: 418px;
    }
    
    .head-inform #usersetting-menu {
        display: none;
        margin-left: 485px;
    }
    /*导航部分*/
    /*更多产品的属性*/
    
    .head-inform {
            width: 650px;
    font-size: 14px;
    font-weight: bold;
    float: right;
    }
    
    .more a {
        float: left;
        display: inline;
        height: 25px;
        width: 66px;
        margin-left: 10px;
        margin-right: 6px;
        text-align: center;
        line-height: 25px;
        background-color: #38f;
        color: white;
    }
    
    .head-inform .nav a {
        float: left;
        height: 25px;
        line-height: 25px;
        margin-left: 30px;
        margin-right: 10px;
        text-decoration: underline;
        color: white;
    }
    
    a:hover {
        color: #0000FF;
    }
    /*导航结束*/
    /*百度图片logo*/
    
    .baidulogo {
        height: 125px;
        text-align: center;
        padding: 0 0 15px 10px;
    }
    
    .baidulogo img {
        width: 300px;
        height: 135px;
    }
    .centerform {
        width: 641px;
        margin: 0 auto;
    }

    .centerblock {
        background: #ffffff;
        display: -webkit-box;
        display: -moz-box;
    }
    
    .centerinput {
        display: block;
        padding: 10px 6px;
        height: 20px;
        line-height: 20px;
        border: 0px;
        background: transparent;
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        font-size: 15px;
        /*按钮定长，那么centerblock剩下的部分分为一等份给输入框*/
    }
    
    .left-btn {
        position: relative;
    }
    
    .centerbutton {
        position: absolute;
        right: -1px;
        width: 100px;
        padding: 0px;
        border: 0px;
        height: 40px;
        background: #ddd;
        color: #000;
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        line-height: 40px;
        font-size: 16px;
        cursor: pointer;
    }
    
    .centerinput:hover {
        border-color: #888;
    }
    
    .centerinput:focus {
        border-color: #338eff;
    }
    
    /*.centerbutton:hover {
        background-color: #2d78f4;
    }*/
    /*搜索框结束*/
    /*信息栏*/
    
    #information-wrapper {
        position: relative;
    }
    
    #information {
        position: relative;
        padding: 0 8px 10px;
        background: rgba(221, 222, 224, 0.87);
        z-index: 2;
        margin-top: 4%;
        width: 60%;
        min-width: 1345px;
        left: 50%;
        margin-left: -28%;
        border: 1px #e0e0e0 solid;
    }
    
    .menu-column {
        position: relative;
        width: 100%;
        line-height: 40px;
        font-size: 16px;
        color: #333;
        height: 40px;
    }
    
    .myConcern {
        width: 135px;
        text-align: center;
    }
    
    .menu-column .myConcern:hover {
        background-color: #c1c2c3;
        font-weight: bold;
        cursor: pointer;
    }
    
    .menu-column .menu-wrapper .menu-item:hover {
        background-color: #c1c2c3;
        font-weight: bold;
        cursor: pointer;
    }
    
    .menu-column span {
        display: inline-block;
        width: 80px;
        text-align: center;
    }
    
    .menu-column div {
        display: inline-block;
    }
    
    .detailed-list {
        position: relative;
        height: 85%;
        width: 100%;
        margin-top: 10px;
    }
    
    .detailed-item,
    .hotnews {
        display: inline-block;
        padding: 10px;
    }
    
    .detailed-item {
        width: 58%;
        margin: 10px;
    }
    
    .hotnews {
        width: 35%;
        vertical-align: top;
    }
    
    .titleblock {
        position: relative;
        margin: 2px 6px 0;
        height: 40px;
        text-align: left;
    }
    
    .title {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
    
    .title h2 {
        line-height: 40px;
        font-size: 15px;
        font-weight: bold;
        color: #333;
        margin: 0px 0px 0px 10px;
    }
    /*具体链接也统一设置*/
    
    .hotnews .titleblock div {
        cursor: pointer;
    }
    
    .detailedsite {
        overflow: hidden;
        margin-top: -5px;
        font-size: 14px;
    }
    
    .detailedsite .news-icon {
        display: inline-block;
        height: 3px;
        width: 3px;
        background: #666;
        text-align: center;
        font-size: 0;
        vertical-align: middle;
        line-height: 34px;
    }
    
    .detailedsite li {
        float: left;
        display: inline-block;
        margin-right: 3px;
        padding: 0 15px;
        height: 42px;
        line-height: 42px;
    }
    
    .usefulsite .one a {
        width: 25%;
    }
    /*在常用地址栏里设为25%的宽占比*/
    /*实时热点则是50%*/
    
    .hotnews .two a {
        width: 45%;
        color: black;
    }
    
    .hotnews .detailedsite .news-list-wrapper a:hover {
        color: #3e3ef3;
        text-decoration: underline;
    }
    /*在实时热点栏里多一个换一批的div*/
    
    .changelogo {
        position: absolute;
        width: 20%;
        top: 0;
        right: 15px;
    }
    
    .changelogo span {
        line-height: 40px;
        font-size: 15px;
        font-weight: bold;
        color: #333;
    }
    
    .notice {
        text-align: center;
    }
    
    .notice-icon {
        display: inline-block;
        height: 14px;
        width: 12px;
        margin: 0 6px 0 6px;
        background: url("img/news.png") no-repeat -45px 0px;
    }
    
    .notice span {
        display: inline-block;
        zoom: 1;
        vertical-align: middle;
        font-size: 13px;
        color: rgba(0, 0, 0, .4);
    }
    
    .news-list-item .text-content {
        font-weight: bold;
        vertical-align: top;
        font-size: 20px;
        margin-top: 30px;
    }
    
    .news-list-item div {
        display: inline-block;
    }
    
    .text-content a:hover {
        color: #6464e6;
        text-decoration: underline;
    }
    
    .news-list-item a {
        color: black;
        text-align: center;
        letter-spacing: 3px;
    }
    
    .news-list-wrapper a: hover {
        color: #0079f4;
        text-decoration: underline;
    }
    
    .source-content {
        margin-top: -15px;
        height: 15px;
        width: 100%;
    }
    
    .source-content span {
        font-size: 12px;
        color: #868282;
    }
    
    .pic-content {
        margin-left: 45px;
    }
    
    .footer {
        height: 100px;
        bottom: 10px;
        font-size: 10px;
    }
    
    .announcement {
        float: left;
        margin-left: 40%;
        text-align: center;
        line-height: 18px;
        width: 590px;
        color: white;
    }
    
    .announcement span {
        display: inline-block;
        float: left;
        color: white;
        margin-left: 10px;
    }
    
    .footer .announcement p a {
        float: left;
        margin-left: 10px;
        text-decoration: underline;
    }
    .right-more-column {
        position: absolute;
        margin-left: 89%;
        margin-top: -32px;
    }
    .more-column-head, .more-column-menu {
        display: inline-block;
        float: right;
        width: 98px;
        background: #fbfbfb;
    }
    .more-column-head {
        line-height: 35px;
        height: 35px;
        font-size: 15px;
        margin-left: 15px;
        text-align: center;
    }
    .more-column-menu div {
        display: inline-block;
        float: right;
        width: 95px;
        font-size: 15px;
        padding-bottom: 60px;
        margin: 0 auto;
        text-align: center;
    }
    .more-column-menu div a {
        display: block;
        width: 40px;
        height: 25px;
        margin: 0 auto;
    }
    .more-column-menu div a img {
        margin-bottom: 6px;
    }

    

