    *{
        margin: 0px;
        padding: 0px;
    }
    a {
        text-decoration: none;
    }
    
    .wrapper {
        height: 100%;
        min-height: 600px;
        min-width: 768px;
    }
    
    .wrapperskin {
        position: fixed;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background: rgba(128, 128, 128, 0.15);
        -webkit-background-size: 100% auto;
        -moz-background-size: 100% auto;
        -o-background-size: 100% auto;
        background-size: 100% auto;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
    #header {
        padding-bottom: 10px;
    }
    
    .weather {
        top: 0;
        left: 0;
        padding: 0 6px;
        height: 40px;
        line-height: 40px;
    }
    /*  天气栏内部三个块元素*/
    
    .head-inform,
    .weathercolumn,
    .weather div {
        display: inline-block;
        margin-right: 6px;
    }
    /*天气logo*/
    
    .weatherlogo {
        color: #b7babe;
        position: relative;
        top: -1px;
        width: auto;
        margin-left: -1px;
    }
    /*温度数字*/
    
    .weathernum {
        font-size: 20px;
        color: #8c8c8c;
        padding-left: 2px;
    }
    
    .weatherstatus p {
        height: 13px;
        line-height: 13px;
        font-size: 11px;
        color: #999;
    }
    
    .head-inform {
        padding-top: 20px;
        font-size: 13px;
        font-weight: bold;
        overflow: hidden;
        /*清除浮动*/
    }
    /*导航部分*/
    /*更多产品的属性*/
    
    .head-inform {
        width: 480px;
        padding-top: 20px;
        font-size: 13px;
        font-weight: bold;
        float: right;
    }
    
    .more a {
        float: left;
        display: inline;
        height: 25px;
        width: 66px;
        margin-left: 10px;
        margin-right: 6px;
        text-align: center;
        line-height: 25px;
        background-color: #38f;
        color: white;
    }
    
    .head-inform .nav a {
        float: left;
        height: 25px;
        line-height: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    a:hover {
        color: #0000FF;
    }
    /*导航结束*/
    /*百度图片logo*/
    
    .baidulogo {
        height: 125px;
        text-align: center;
        padding: 0 0 15px 10px;
    }
    
    .baidulogo img {
        width: 300px;
        height: 135px;
    }
    
    .centerblock {
        background: #ffffff;
        display: -webkit-box;
        width: 40%;
        margin: 0 auto;
    }
    
    .centerinput {
        display: block;
        padding: 7px 42px 4px 11px;
        height: 32px;
        line-height: 32px;
        border: 1px solid #888181;
        background: transparent;
        -webkit-box-flex: 1;
        /*按钮定长，那么centerblock剩下的部分分为一等份给输入框*/
    }
    
    .left-btn {
        position: relative;
        width: 82px;
    }
    
    .centerbutton {
        position: absolute;
        top: -1px;
        right: -1px;
        width: 82px;
        height: 42px;
        background: #38f;
        color: #fff;
        line-height: 42px;
        font-size: 16px;
        border-top: 1px solid #38f;
        border-bottom: 1px solid #38f;
        box-sizing: inherit;
        cursor: default;
    }
    
    .centerinput:hover {
        border-color: #888;
    }
    
    .centerinput:focus {
        border-color: #3385ff;
    }
    
    .centerbutton:hover {
        background-color: #2d78f4;
    }
    /*搜索框结束*/
    /*信息栏*/
    
    #information-wrapper {
        position: relative;
    }
    
    #information {
        position: relative;
        padding: 0 8px 10px;
        background: #fff;
        z-index: 2;
        margin-top: 4%;
        width: 60%;
        left: 50%;
        margin-left: -28%;
        border: 1px black solid;
    }
    
    .menu-column {
        position: relative;
        width: 100%;
        line-height: 40px;
        font-size: 16px;
        color: #333;
        height: 40px;
        border: 1px black solid;
    }
    
    .myConcern {
        width: 135px;
        text-align: center;
    }
    
    .menu-column span {
        display: inline-block;
        width: 80px;
        text-align: center;
    }
    
    .menu-column div {
        display: inline-block;
    }
    
    .detailed-list {
        position: relative;
        height: 85%;
        width: 100%;
        margin-top: 10px;
        border: 1px black solid;
    }
    
    .detailed-item,
    .hotnews {
        display: inline-block;
        border: 1px black solid;
        padding: 10px;
    }
    
    .detailed-item {
        width: 58%;
        margin: 10px;
    }
    
    .hotnews {
        width: 35%;
    }
    
    .titleblock {
        position: relative;
        margin: 2px 6px 0;
        height: 40px;
        text-align: left;
    }
    
    .title {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
    
    .title h2 {
        line-height: 40px;
        font-size: 15px;
        font-weight: bold;
        color: #333;
        margin: 0px;
    }
    
    .morenav {
        position: absolute;
        right: -12px;
        top: 0;
        width: 40px;
        height: 34px;
        text-align: center;
        line-height: 34px;
    }
    /*具体链接也统一设置*/
    
    .detailedsite {
        overflow: hidden;
        margin-top: -5px;
        font-size: 14px;
    }
    .detailedsite  .news-icon {
        display: inline-block;
            height: 3px;
    width: 3px;
    background: #666;
    text-align: center;
    font-size: 0;
    vertical-align: middle;
    line-height: 34px;
    }
    
    .detailedsite li {
        float: left;
        display: inline-block;
        margin-right: 3px;
        padding: 0 15px;
        height: 42px;
        line-height: 42px;
    }
    
    .usefulsite .one a {
        width: 25%;
    }
    /*在常用地址栏里设为25%的宽占比*/
    /*实时热点则是50%*/
    
    .hotnews .two a {
        width: 45%;
    }
    /*在实时热点栏里多一个换一批的div*/
    
    .changelogo {
        position: absolute;
        width: 20%;
        top: 0;
        right: 15px;
    }
    
    .changelogo span {
        line-height: 40px;
        font-size: 15px;
        font-weight: bold;
        color: #333;
    }
